@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

h1 {
    font-family: 'Alice', 'Lato', serif;
    text-align: center;
    color: #8B3E2F;
}

header,
main {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5px;
}

main {
    display: grid;
    grid-auto-rows: 400px;
    justify-content: center;
    grid-row-gap: 20px;
    padding: 10px;
}

img[data-src] {
    filter: blur(3px);
}

img {
    filter: blur(0px);
    transition: filter 0.6s;
    border-radius: 15px;
    border: 2px solid #8B3E2F;
}

