header, footer{
    background-color: teal;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 750px;
}

.header-img {
    float: right;
    height: 200px;
    box-shadow: 5px 5px 5px #a9a9a9;
}

.title-name {
    font-size: 40px;
}

.subtitle{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    font-size: 20px;
    line-height: 1.5;
}